{% apply inline_css %}
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ subject }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      p, ul, li, blockquote {
        font-size: 0.9rem;
      }

      blockquote {
        font-style: italic;
      }

      .container {
        margin: 0 auto;
        max-width: 500px;
      }

      .content {
        text-align: left;
      }

      .headerImg {
        width: auto;
        max-width: 50%;
        height: auto;
        margin: 1rem 0;
      }

      #charity-details {
          margin: 2rem auto;
          padding-top: 1rem;
          border-top: solid 1px #ddd;
      }

      #charity-details > ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
    </style>
  </head>
<body>
  <div class="container">
    <img class="headerImg" src="cid:tbg-logo" alt="Big Give"/>
    <div id="content" class="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <p>
          Kind regards,<br>
          Big Give Team<br>
          <br>
          Big Give, Dragon Court, 27-29 Macklin Street, London, WC2B 5LX<br>
          Email: hello@biggive.org<br>
          Web: https://biggive.org<br><br>
          The Big Give Trust (charity number: 1136547; company number: 07273065)<br>
        </p>

      {% endblock %}
      {# Included by default - override with an empty block in templates where this is not relavent. #}
      {% block cardDetailsHeldByStripe %}
        <p>Your card details are held securely by Stripe. We do not have access to your card details.</p>
      {% endblock %}
    </div>
  </div>
</body>
</html>
{% endapply %}
