{% apply inline_css %}
<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ subject }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      p, ul, li, blockquote {
        font-size: 0.9rem;
      }

      blockquote {
        font-style: italic;
      }

      .container {
        margin: 0 auto;
        max-width: 500px;
      }

      .content {
        text-align: left;
      }

      .headerImg {
        max-width: 50%;
        height: auto;
        margin: 1rem 0;
      }

      #charity-details {
          margin: 2rem auto;
          padding-top: 1rem;
          border-top: solid 1px #ddd;
      }

      #charity-details > ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
    </style>
  </head>
<body>
  <div class="container">
    <img class="headerImg" src="cid:tbg-logo" alt="The Big Give"/>
    <div id="content" class="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <p>
          Kind regards,<br>
          Big Give Team<br>
          www.thebiggive.org.uk<br>
        </p>

        {# This check is added because we don't want this sentence to be included in the pledger-success template,
        but we want it included in all other templates, which include the `donorFirstName` parameter. MAIL-17 #}
        {% if donorFirstName %}
          <p>Your card details are held securely by Stripe. We do not have access to your card details.</p>
        {% endif %}

      {% endblock %}
    </div>
  </div>
</body>
</html>
{% endapply %}
