<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ subject }}</title>
    <style type="text/css">
      p, li { 
        font-size: 1.0rem;
      },

      blockquote {
        font-size: 0.9rem;
        font-style: italic;
      }
    </style>
  </head>
<body>
  <img src="{{ tbg_logo }}" alt="Image Description">
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
      <p>
        Kind regards,<br>
        The Big Give Team<br>
        www.thebiggive.org.uk<br>
      </p>
      <p>Powered by Charity Checkout</p>
    {% endblock %}
  </div>
</body>
</html>
