<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ subject }}</title>
    <style type="text/css">
      p, ul, li, blockquote {
        font-size: 0.9rem;
      }

      blockquote {
        font-style: italic;
      }

      .container {
        margin: 0 auto;
        max-width: 500px;
      }

      .content {
        text-align: left;
      }

      .headerImg {
        max-width: 50%;
        height: auto;
      }

      .footerImg {
        max-width: 30%;
        height: auto;
      }
    </style>
  </head>
<body>
  <div class="container">
    <img class="headerImg" src="{{ headerImageRef }}" alt="The Big Give"/>
    <div id="content" class="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <p>
          Kind regards,<br>
          The Big Give Team<br>
          www.thebiggive.org.uk<br>
        </p>
        <p>Powered by Charity Checkout</p>
        <img class="footerImg" src="{{ footerImageRef }}" alt="Charity Checkout"/>
      {% endblock %}
    </div>
  </div>
</body>
</html>
