<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title>{{ subject }}</title>
  </head>
<body>
  <container>
    <img src="{{ headerImageRef }}" alt="TheBigGive" title="The Big Give" width="250" height="50"/>
    <div id="content" style="text-align: left;">
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
        <p>
          Kind regards,<br>
          The Big Give Team<br>
          www.thebiggive.org.uk<br>
        </p>
        <p>Powered by Charity Checkout</p>
        <img src="{{ footerImageRef }}" alt="CharityCheckout" title="Charity Checkout" width="97" height="67"/>
      {% endblock %}
    </div>
  </container>
</body>
</html>
