{#Placeholder copy - replace with improved copy (and include more data from matchbot) before using in prod #}
{% extends renderHtml ? '_base.html.twig' : '_base.text.twig' %}

{% block content %}
    <p>Dear {{ donorFirstName ? donorFirstName : donorLastName }},<p>

    <p>
       We tried to process your regular donation to {{ charityName }}, but unfortunately, the payment didn't go through.
       We’ll automatically try again over the next few days.
    <p>

    <p>
        If the payment continues to fail, your regular giving donation will be cancelled. To ensure your support
        continues without interruption, please contact your card provider to resolve the issue or
        <a href="https://donate.biggive.org/my-account">
            log in to your Big Give account
        </a>
        to check and update your payment method.
    <p>

    <p>
        Thank you for your ongoing generosity. Your donations are making a real difference to {{ charityName }}.
    <p>
{% endblock %}
