{% extends renderHtml ? '_base.html.twig' : '_base.text.twig' %}

{% block content %}
  <p>Dear {{ donorFirstName }},</p>

  <p>You are now registered for Big Give with the email address: {{ donorEmail }}. This will make donating to your chosen campaigns easier in the future.</p>

  <p>We are excited to have you on board!</p>

{% endblock %}
