{% extends renderHtml ? '_base.html.twig' : '_base.text.twig' %}

{% block content %}
  <p>Dear {{ donorFirstName ? donorFirstName : donorLastName }},</p>

  <p>Please click on <a href="{{ resetLink }}">this link</a> to change your password. If you did not request a password
    reset email, please contact us at hello@biggive.org for assistance.</p>

  <p>Thanks,</p>

  <p>Big Give team</p>
{% endblock %}
